@import url ("https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap" rel="stylesheet");
@import url("component/container.css");
@import url("component/avatar.css");
@import url("component/button.css");
@import url("component/banner.css");
@import url("component/card.css");

body {
	 font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
}



.container {
width: 700px; 
margin: 0 auto; 
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
